/* You can add global styles to this file, and also import other style files */
$white: #E5E5E5;
$black: rgb(26, 26, 26);
$gray: #262a2f;

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: $gray;
}
